@page
@model Web.Pages.ShoppingLists.IndexModel

@{
    ViewData["Title"] = "Shopping Lists";
}

<div class="d-flex mb-3">
    <div class="p-2 h4">Shopping Lists</div>
    <div class="p-2">
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addShoppingListModal" style="width: 5rem;">
            Add
        </button>
    </div>
</div>

<div>
    @foreach (var shoppingList in Model.ShoppingListsWithItems)
    {
        <div class="card mb-2">
            <div class="card-body hstack gap-4">
                <div class="fs-5"><a asp-page="Details" asp-route-id="@shoppingList.Id">@shoppingList.Name</a></div>
                <div class="fs-5 ms-auto">Items: @shoppingList.ListItems.Count</div>
                <div class="fs-5">Sum: @shoppingList.ListItems.Sum(item => item.Price * item.Count)</div>
                <div class="fs-5">Created: @shoppingList.CreationTime</div>
                <div>
                    <button type="button" class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#@string.Concat("id", shoppingList.Id)" aria-controls="@string.Concat("id", shoppingList.Id)">
                        Preview
                    </button>
                </div>
                <div>
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#@string.Concat("toOperations", shoppingList.Id)">To Operations</button>
                </div>
                <div>
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#@string.Concat("updateShoppingList", shoppingList.Id)">Update</button>
                </div>
                <div>
                    <form method="POST">
                        <button type="submit" class="btn btn-dark" asp-page-handler="DeleteShoppingList" asp-route-id="@shoppingList.Id">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="@string.Concat("id", shoppingList.Id)" aria-labelledby="offcanvasScrollingLabel">
            <partial name="ShoppingListPreviewPartial" model="@shoppingList"/>
        </div>
        
        <partial name="ShoppingListToOperationsPartial" model="(shoppingList, Model.AllCards)"/>
        <partial name="UpdateShoppingListPartial" model="shoppingList"/>
    }
</div>

<partial name="AddShoppingListPartial"/>
