@page
@model Web.Pages.ShoppingLists.IndexModel

<div class="d-flex mb-3">
    <div class="p-2 h4">Shopping Lists</div>
    <div class="p-2">
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addShoppingListModal" style="width: 5rem;">
            Add
        </button>
    </div>
</div>

<div>
    @foreach (var shoppingList in Model.ShoppingListsWithItems)
    {
        <div class="card mb-2">
            <div class="card-body hstack gap-4">
                <div class="fs-5"><a asp-page="Details" asp-route-id="@shoppingList.Id">@shoppingList.Name</a></div>
                <div class="fs-5 ms-auto">Items: @shoppingList.ListItems.Count</div>
                <div class="fs-5">Created: @shoppingList.CreationTime</div>
                <div>
                    <button type="button" class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#@string.Concat("id", shoppingList.Id)" aria-controls="@string.Concat("id", shoppingList.Id)">
                        Preview
                    </button>
                </div>
                <div>
                    <button type="button" class="btn btn-dark" onclick="updateShoppingList('@shoppingList.Name', '@shoppingList.Id')" data-bs-toggle="modal" data-bs-target="#updateShoppingListModal">Update</button>
                </div>
                <div>
                    <form method="POST">
                        <button type="submit" class="btn btn-dark" asp-page-handler="DeleteShoppingList" asp-route-id="@shoppingList.Id">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="@string.Concat("id", shoppingList.Id)" aria-labelledby="offcanvasScrollingLabel">
            <partial name="ShoppingListPreviewPartial" model="@shoppingList"/>
        </div>
    }
</div>

<!-- Add Shopping List Modal -->
<div class="modal fade" id="addShoppingListModal" tabindex="-1" aria-labelledby="addShoppingListModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" asp-page-handler="ShoppingList">
                <div class="modal-header">
                    <h5 class="modal-title" id="addShoppingListModalLabel">Add Shopping List</h5>
                    <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="addShoppingListName" class="form-label">Name</label>
                        <input type="text" class="form-control input-dark" id="addShoppingListName" name="name" autocomplete="off">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-dark">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Update Shopping List Modal -->
<div class="modal fade" id="updateShoppingListModal" tabindex="-1" aria-labelledby="updateShoppingListModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" asp-page-handler="UpdateShoppingList">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateShoppingListModalLabel">Update Shopping List</h5>
                    <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="updateShoppingListName" class="form-label">Name</label>
                        <input type="text" class="form-control input-dark" id="updateShoppingListName" name="name" autocomplete="off">
                    </div>
                    <input type="hidden" name="id" id="updateShoppingListId"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-dark">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>  
let updateShoppingList = function (shoppingListName, shoppingListId) {
    document.getElementById("updateShoppingListName").value = shoppingListName;
    document.getElementById("updateShoppingListId").value = shoppingListId;
}
</script>
