@using Card = global::Operations.Entities.Card
@using ShoppingList = global::ShoppingLists.Entities.ShoppingList
@model (ShoppingList, List<Card>)

<div class="modal fade" id="@string.Concat("toOperations", Model.Item1.Id)" tabindex="-1" aria-labelledby="toOperationsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" asp-page-handler="ToOperations">
                <div class="modal-header">
                    <h5 class="modal-title" id="toOperationsModalLabel">To Operations</h5>
                    <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control input-dark" id="name" name="name" autocomplete="off" value="@Model.Item1.Name">
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="number" class="form-control input-dark" id="amount" name="amount" autocomplete="off" value="@(Model.Item1.ListItems.Sum(item => item.Price * item.Count))" step="0.01" min="0">
                    </div>
                    <div class="dropdown mb-3">
                        @* ReSharper disable once Html.IdDuplication *@
                        <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuClickableInside" data-bs-auto-close="outside">
                            Select cards
                        </button>
                        <div class="dropdown-menu p-2">
                            @foreach (var card in Model.Item2)
                            {
                                <div class="mb-1">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input checkbox-dark" id="card" name="cardId" value="@card.Id">
                                        <label class="form-check-label" for="card">
                                            @card.Name, balance: @card.Balance
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <input type="hidden" name="id" value="@Model.Item1.Id"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-dark">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>