@page
@using Operations.Entities
@model Web.Pages.OperationsModel

<div class="h4">Balance: @Model.Card.Balance ₽</div>
<div class="row g-2 row-cols-auto">
    <div class="col">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addPaymentModal">
            Add Payment
        </button>
    </div>
    <div class="col">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addIncomeModal">
            Add Income
        </button>
    </div>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Type</th>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Manage</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    @foreach (var operation in Model.Operations)
    {
        @if (operation is Payment payment)
        {
            <tr>
                <th class="col-1" scope="row">-</th>
                <td class="col-2">@payment.DateTime</td>
                <td class="col-4">@payment.Name</td>
                <td class="col-2">@payment.Amount ₽</td>
                <td class="col-3">
                    <form method="POST">
                        <button type="button" class="btn-link" data-bs-toggle="modal" data-bs-target="#updatePaymentModal">Update</button>
                        <button type="submit" class="btn-link" asp-page-handler="DeletePayment" asp-route-id="@payment.Id">Delete</button>
                    </form>
                </td>
            </tr>
            
            <!-- Modal -->
            <div class="modal fade" id="updatePaymentModal" tabindex="-1" aria-labelledby="updatePaymentModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="POST" asp-page-handler="UpdatePayment">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updatePaymentModalLabel">Update Payment</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="updatingPaymentNameLabel" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="updatingPaymentNameLabel" name="name" autocomplete="off" value="@payment.Name">
                                </div>
                                <input type="hidden" name="id" value="@payment.Id"/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-dark">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
        else if (operation is Income income)
        {
            <tr class="table-success">
                <th class="col-1" scope="row">+</th>
                <td class="col-2">@income.DateTime</td>
                <td class="col-4">@income.Name</td>
                <td class="col-2">@income.Amount ₽</td>
                <td class="col-3">
                    <form method="POST">
                        <button type="button" class="btn-link" data-bs-toggle="modal" data-bs-target="#updateIncomeModal">Update</button>
                        <button type="submit" class="btn-link" asp-page-handler="DeleteIncome" asp-route-id="@income.Id">Delete</button>
                    </form>
                </td>
            </tr>
            
            <!-- Modal -->
            <div class="modal fade" id="updateIncomeModal" tabindex="-1" aria-labelledby="updateIncomeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="POST" asp-page-handler="UpdateIncome">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateIncomeModalLabel">Update Income</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="updatingIncomeNameLabel" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="updatingIncomeNameLabel" name="name" autocomplete="off" value="@income.Name">
                                </div>
                                <input type="hidden" name="id" value="@income.Id"/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-dark">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="addPaymentModal" tabindex="-1" aria-labelledby="addPaymentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" asp-page-handler="Payment">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPaymentModalLabel">Add Payment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="paymentNameLabel" class="form-label">Name</label>
                        <input type="text" class="form-control" id="paymentNameLabel" name="name" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="paymentAmountLabel" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="paymentAmountLabel" name="amount" autocomplete="off">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-dark">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addIncomeModal" tabindex="-1" aria-labelledby="addIncomeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" asp-page-handler="Income">
                <div class="modal-header">
                    <h5 class="modal-title" id="addIncomeModalLabel">Add Income</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="incomeNameLabel" class="form-label">Name</label>
                        <input type="text" class="form-control" id="incomeNameLabel" name="name" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="incomeAmountLabel" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="incomeAmountLabel" name="amount" autocomplete="off">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-dark">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>